body {
    background-color: white;
}

table{
    border: none;
    font-size: 20px%;
    background-color: #00ab84;
    color: white;
}

.superior{
    width: 100%;
    height: 125px;
    background-color: #00ab84;
    position:relative;
}


.izquierda {
    width: 50%;
    float: left;
    position: relative;
    height:75%;
    background-color: none;
}

.centro{
    width: 50%;
    float: left;
    position: relative;
    height: 75%;
    background-color: none;
}

label{
    font-size: 35px;
    text-align: center;
    color:  #00ab84;
}

.derecha{
    width: none;
    float: left;
    position: relative;
    height: 75%;
    background-color:none;
}

.finalizq{
    width: 50%;
    float: left;
    height: 200px;
    background-color: #00ab84;
    position: relative;
}

.video{
    text-align: center;
    font-size: 30px;
    color:white;
}
.finalcent{
    width: 50%;
    float: left;
    height: 200px;
    background-color: #00ab84;
    position: relative;
    text-align: center;
}

.finalder{
    width: none;
    float: left;
    height: 200px;
    background-color: #00ab84;
    position: none;
}

.acredit{
    color: black;
    font-size: 25px;
    text-align: center;
}

.contacto{
    width: 100%;
    height: 315px;
    font-size: 15px;
    background-color: #212327;
    position: relative;
    color: white;
    text-align: center;
}

.noticias{
    font-size: 20px;
    color: black;
    text-align: inherit;
}
.menu{
    list-style: none;
    margin: 25px;
}

.menu li{
    font-size: 25px;
    border: 1px ridge black;
    width: auto;
    background-color: ghostwhite;
}

.menu li a {
    padding: 5px;
    width: 600px;
    color: black;
    text-decoration: none;
}

.menu li:hover {
    border: 2px ridge black;
    background-color: #00ab84;
    color: black;
}

