<hmtl>
    <head>
        <title>UT Cancun | Universidad Tecnologica</title>
        <!-- Estilos -->
        <link rel="stylesheet" type="text/css" href="css/estilos.css" />
    </head>
    <body>
        <div class="superior">
            <img src="img/banner.png" alt="imagen 1" height="144" width="100%" />
        </div>
        <td>&nbsp;</td>
        <div class="frontal">
            <img src="img/Cursos.jpg" alt="Imagen 2" height="325" width="100%" />
        </div>
        <div class="contenedor">
            <div class="izquierda">
                <ul class="menu">
                    <li><a>Aspirantes</a></li>
                    <li><a>Estudiantes</a></li>
                    <li><a>Docentes y Administrativos (as)</a></li>
                    <li><a>Egresados (as)</a></li>
                    <li><a>Sistema Escolar</a></li>
                    <li><a>Convocatorias</a></li>
                    <li><a>Empresas</a></li>
                    <li><a>Sistema Operativo de Sugerencias</a></li>
                    <li><a>SPA Universitario</a></li>
                    <li><a>Núcleo de Apoyo Fiscal UT Cancún</a></li>
                    <li><a>Vacantes</a></li>
                    <li><a>Licitaciones</a></li>
                    <li><a>Periodo Electoral 2018</a></li>
                </ul>
            </div>
            <div class="centro">
                <ul class="noticias">
                    <label>Noticias UT</label>
                    <ul> <img src="img/cuadro1.png" alt="Nota1" height="125" width="230" />Un dia entre contadores UT Cancun </ul>
                    <ul>&nbsp; </ul>
                    <ul> <img src="img/cuadro2.png" alt="Nota2" height="145" width="230" />Ultimo examen de Admision 7 de Julio de 2018</ul>
                </ul>
            </div>    
            <div class="derecha"></div>        
        </div>
        <td>&nbsp;</td>
        <div class="final">
            <div class="finalizq">
                <ul class="video">
                    <ul>Excelentes Instalaciones</ul>
                    <ul>Mira nuestro video</ul>
                </ul>
            </div>
            <div class="finalcent">
                <ul>
                <video src="Universidad%20Tecnol%C3%B3gica%20de%20Canc%C3%BAn%20-%20YouTube.MP4" autoplay muted ></video>
                </ul>    
            </div>
            <div class="finalder">
            </div>
        </div>
        <td>&nbsp;</td>
        <div class="acredit">
            <ul> Nuestras Acreditaciones</ul>
            <img src="img/acreditaciones.png" alt="Imagen 3" height="97" width="100%" />
        </div>
        <td>&nbsp;</td>
        <div class="contacto">
            <ul>
                <ul>&nbsp;</ul>
                <ul>&nbsp;</ul>
                <ul>Universidad Tecnológica de Cancún</ul>
                <ul>Organismo Público Descentralizado del Gobierno del Estado de Quintana Roo</ul>
                <ul>Carretera Cancún-Aeropuerto, Km. 11.5, S.M. 299, Mz. 5, Lt 1</ul>
                <ul>Cancún, Quintana Roo, C.P. 77565</ul>
                <ul>Tel. 01 (998) 881 19 00</ul> 
                <ul>Política de Privacidad</ul>
                <ul>&nbsp;</ul>
                <ul>&nbsp;</ul>
                <ul>&nbsp;</ul>
                <ul>&nbsp;</ul>
                <ul>&nbsp;</ul>
                <ul>&nbsp;</ul>
                <ul>&nbsp;</ul>
                <ul>&nbsp;</ul>
                <ul>Copyright © 2017. Universidad Tecnológica de Cancún</ul>
            </ul>
        </div>
    </body>